

/*contariner*/
.Page{
  max-width: 800px;
  margin: 0 auto;
  box-shadow: 0px 0px 16px rgb(199, 197, 197);
  border-radius: 8px;
  padding: 12px 28px;
  color: #6c6c6c;
  box-sizing: border-box;
};

.Title{
  text-align: center;
};


/*表單區塊 form*/
.MessageForm{
  margin-top: 16px;
  font-size: 18px;
};

.MessageTextArea{
  display: block;
  margin-top: 8px;
  width: 95%;
  border-color: rgba(0, 0, 0, 0.125);
};

.SubmitButton{
  margin-top: 8px;
  color: #ddd;
  background-color: #343a40;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 16px;
  padding: 6px 12px;
};

/*顯示留言區塊*/
.MessageBlock{
  margin-top: 16px;
};

.MessageContainer{
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 16px;
  border-radius: 4px;
};

.MessageHead{
  display: flex
};

.MessageAuthor{
  margin-right: 12px;
  color: #232323;
};

.MessageBody{
  margin-top: 8px;
  word-break: break-all;
  white-space: pre-line;
};